<h4 th:fragment="checkorder" class="section-h4">Your Order</h4>
<div th:fragment="checkorder" class="order-table">
    <table class="u-s-m-b-13" id="order-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody class="order-body">
            <tr>
                <td>
                    <h6 class="order-h6 item-name">Casual Hoodie Full Cotton</h6>
                    <span class="order-span-quantity item-quantity">x 1</span>
                </td>
                <td>
                    <h6 class="order-h6 ptotal">$55.00</h6>
                </td>
            </tr>

            <!-- <tr>
                <td>
                    <h3 class="order-h3">Subtotal</h3>
                </td>
                <td>
                    <h3 class="order-h3">$220.00</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="order-h3">Shipping</h3>
                </td>
                <td>
                    <h3 class="order-h3">$0.00</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="order-h3">Tax</h3>
                </td>
                <td>
                    <h3 class="order-h3">$0.00</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 class="order-h3">Total</h3>
                </td>
                <td>
                    <h3 class="order-h3">$220.00</h3>
                </td>
            </tr> -->

        </tbody>
    </table>
    <div class="u-s-m-b-13">
        <input type="radio" class="radio-box" name="payment-method" id="cash-on-delivery">
        <label class="label-text" for="cash-on-delivery">Cash on Delivery</label>
    </div>
    <div class="u-s-m-b-13">
        <input type="radio" class="radio-box" name="payment-method" id="credit-card-stripe">
        <label class="label-text" for="credit-card-stripe">Credit Card
            (Stripe)</label>
    </div>
    <div class="u-s-m-b-13">
        <input type="radio" class="radio-box" name="payment-method" id="paypal">
        <label class="label-text" for="paypal">Paypal</label>
    </div>
    <div class="u-s-m-b-13">
        <input type="checkbox" class="check-box" id="accept">
        <label class="label-text no-color" for="accept">I’ve read and accept the
            <a href="terms-and-conditions.html" class="u-c-brand">terms &
                conditions</a>
        </label>
    </div>
    <button id="test" type="button" onClick="placeOrder()" class="button button-outline-secondary">Place
        Order</button>
</div>

<script>
$(document).ready(function() {
    	$('#test').hide();
});
</script>