<div th:fragment="midbar" class="container">
    <div class="row clearfix align-items-center">
        <div class="col-lg-3 col-md-9 col-sm-6">
            <div class="brand-logo text-lg-center">
                <a th:href="@{/home}">
                    <img th:src="@{/images/main-logo/groover-branding-1.png}" alt="Groover Brand Logo"
                        class="app-brand-logo">
                </a>
            </div>
        </div>
        <!--  search bar -->
        <div class="col-lg-6 u-d-none-lg">
            <form autocomplete="off" class="form-searchbox" name="q" id="q" onKeyUp="showResults(this.value)">
                <label class="sr-only" for="search-landscape">Search</label>
                <input id="search-landscape" type="text" class="text-field" placeholder="Lookup">

                <div class="select-box-position">
                    <div class="select-box-wrapper select-hide">
                        <label class="sr-only" for="select-category">Choose category for search</label>
                        <select class="select-box" id="select-category">
                            <option selected="selected" value="">
                                All
                            </option>
                            <option value="">Men's Clothing</option>
                            <option value="">Women's Clothing
                            </option>
                            <option value="">Toys Hobbies & Robots
                            </option>
                            <option value="">Mobiles & Tablets
                            </option>
                            <option value="">Consumer Electronics
                            </option>
                            <option value="">Books & Audible
                            </option>
                            <option value="">Beauty & Health
                            </option>
                            <option value="">Furniture Home & Office
                            </option>
                        </select>
                    </div>
                </div>
                <button id="btn-search" type="submit" class="button button-primary fas fa-search"></button>

            </form>
            <div id="result"></div>
        </div>
        <!-- search bar -->
        <div class="col-lg-3 col-md-3 col-sm-6">
            <nav>
                <ul class="mid-nav g-nav">
                    <li class="u-d-none-lg">
                        <a th:href="@{/home}">
                            <i class="ion ion-md-home u-c-brand"></i>
                        </a>
                    </li>
                    <li class="u-d-none-lg">
                        <a th:href="@{/wishlist}">
                            <i class="far fa-heart"></i>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a id="mini-cart-trigger">
                            <i class="ion ion-md-basket"></i>
                            <span id="mini-cart-counter" class="item-counter"></span>
                            <span id="mini-cart-price" class="item-price">$220.00</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>